/*      NAV     */

nav {
    background-image: url(/img/nav.jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
  }
  nav img {
    height: 60px;
    width: auto;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    padding: 0 10px;
    text-align: center;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  @media only screen and (max-width: 768px) {
    nav {
      flex-direction: column;
    }
    nav img {
      margin-bottom: 10px;
    }
    nav ul {
      margin-top: 10px;
      flex-direction: column;
    }
    nav li {
      width: 100%;
      padding: 5px;
    }
  }


  .carousel img{
    height: 300px;
    width: auto;
  }
  

  /* Main */

  .contenido{
    background-image: url(/img/fondoindex.jpg);
  }

  .col-4 iframe{
    width: 420px;
    height: 360px;
    margin-top: 60px;
    margin-left: 9px;
  }

  .col-8 h1{
    text-align: center;
    color: azure;
  }

  .col-8 p{
    margin-left: 2px;
    color:rgb(255, 255, 255);
    font-size: 16px;
  }

  .col-12 h1{
    text-align: center;
    color: aliceblue;
    font-size: 40px;
  }

  .col-12 img{
    margin-left: 365px;
    margin-bottom: 8px;
    ;
  } 

  /* footer */

  footer {
    background-image: url(/img/Footer.jpg);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-right: 20px;
    font-size: 16px;
    color: #f3e9e9;
  }
  
  .fa-brands {
    font-size: 24px;
    padding: 5px;
    transition: color 0.2s ease-in-out;
  }
  
  .fa-instagram:hover {
    color: #E1306C;
  }
  
  .fa-square-facebook:hover {
    color: #3B5998;
  }
  
  @media only screen and (max-width: 700px) {
    footer {
      flex-direction: column;
      text-align: center;
    }
    
    li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  

  /*  Contato  */

  .contacto{
    background-image: url(/img/fondocontacto.jpg);
    background-size: cover;
  }

  .ubicacion{
    text-align: center;
    color: #f3e9e9;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0px;
  }

  .ubicacion h1{
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 0px;
  }

.flexbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.direccion h1{
  color: azure;
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.direccion p{
  color: azure;
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.telefono h1{
  color: azure;
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*  Login  */

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #312f2f;
  padding: 20px;
  border-radius: 20px;
  position:static;
}

.title {
  font-size: 28px;
  color: rgb(226, 84, 84);
  font-weight: 600;
  letter-spacing: -1px;
  position: static;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: static;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: rgb(238, 74, 82);
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: rgb(225, 65, 65);
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(255, 255, 255, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: rgb(225, 65, 65);
}

.signin a:hover {
  text-decoration: underline rgb(225, 65, 65);
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: rgb(225, 65, 65);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(194, 56, 56);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.login{
  background-image: url(/img/loginfondo.jpg);
  background-size: cover;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content:center
}